 /* FONTS */
@font-face {
    font-family:Manrope;
    src: url(manrope-regular.otf);
    font-family:Space_Grotesk;
    src: url(SpaceGrotesk-Regular.otf);
}

*{
    box-sizing: border-box;
    margin: 0;
}

/* BG img */
body{
    background-image: url(BG.png);
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 1210px;
    height: 887px;
}

/* Logo*/
.logo{
    position: absolute;
    width: 116px;
    height: 104px;
    left: 193px;
    top: 30px;
}

/* Rectangle 1*/
.rectangle_1{
 position: absolute;
 width: 542px;
 height: 912px;
 left: 721px;
 top: 0px;
 background: rgba(39, 114, 219, 0.5);
 backdrop-filter: blur(50px);
}

/* Welcome */
.welcome{
 position: absolute;
 width: 375px;
 height: 53px;
 left: 88px;
 top: 198px;

 font-family:"Manrope";
 font-style: normal;
 font-weight: 800;
 font-size: 36px;
 line-height: 49px;
 text-align: center;
 color: #FFFFFF;
}

/* Welcome back! Please enter your details. */
.welcome2{
    position: absolute;
    width: 500px;
    height: 29px;
    left: 30px;
    top: 254px;
    
    font-family: "Space_Grotesk";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
 
/* Log in with Google */
.logtype{
    position: absolute;
    width: 179px;
    height: 26px;
    left: 112px;
    top: 16px;
    
    font-family: "Space_Grotesk";
    font-style: normal;
    font-weight: 150;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.google{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 14px;
    left: 80px;
}

/* box */
.box{
 box-sizing: border-box;

 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 20px 12px;
 gap: 16px;


 position: absolute;
 width: 350px;
 height: 56px;
 left: 100px;
 top: 315px;

 border: 1px solid #D9D9D9;
 border-radius: 6px;
}

/*line1 or line2*/
.line1{
 position: absolute;
 top: 420px;
 left: 290px;
 width: 200px;
 height: 0px;

 border: 0.5px solid #E0E0E0;
}

.or{
    position: absolute;
    width: 20px;
    height: 26px;
    top: 407px;
    left:270px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 100;
    font-size: 17px;
    line-height: 23px;
    
    display: flex;
    align-items: center;

    color: #E6E6E6;

}

.line2{
    position: absolute;
    top: 420px;
    left: 65px;
    width: 200px;
    height: 0px;
   
    border: 0.5px solid #E0E0E0;
}

/* Email and Passworld style Texte */
::placeholder{
    width: 93px;
    height: 26px;
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
      
    color: #FCFCFC;
    transition: opacity .53s ease-out;
}

:focus::-webkit-input-placeholder{
    opacity: 0.5;
}

.Email{
    box-sizing: border-box;
    background: none;
    border-width:0 0 2px;
     
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 0px;
    gap: 8px;
    
    position: absolute;
    width: 430px;
    height: 52px;
    left: 65px;
    top: 452px;
    
    border-bottom: 1px solid #E0E0E0;
}

/* Password */
.password{
    box-sizing: border-box;
    background: none;
    border-width:0 0 2px;
     
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 0px;
    gap: 8px;
    
    position: absolute;
    width: 430px;
    height: 52px;
    left: 65px;
    top: 525px;
    
    border-bottom: 1px solid #E0E0E0;
}

/* Log in */
.logintxt{
    position: absolute;
    width: 50px;
    height: 20px;
    left: 250px;
    top: 710px;
    
    font-family: "Space_Grotesk";
    font-style: normal;
    font-weight: 150;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.loginbtn{
display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 20px 36px;
 gap: 8px;

 position: absolute;
 width: 430px;
 height: 65px;
 left: 70px;
 top: 690px;

 background: #060606;
 border-radius: 6px;
}

/* Rectangle 2 */
.radio{
    position:absolute ;
    top: 603px;
    left: 70px;
    width: 100px;
    height: 30px;
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-size: 15px;
    line-height: 19px;
    
    color: #FFFFFF;
}

/* Forgot Password */
.fpass{
    position: absolute;
    width: 152px;
    height: 20px;
    left: 360px;
    top: 603px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-size: 15px;
    line-height: 19px;

    text-decoration-line: underline;
    color: #FFFFFF;
}

/* Don’t have an account? */
.dont{
    width: 400px;
    height: 20px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;

    position: absolute;
    left: 142px;
    top: 775px;

}
.sg{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* everything you need is here . */
.uneed{
    position: absolute;
    width: 420px;
    height: 85px;
    left: 44px;
    top: 730px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 46px;

    color: #FFFFFF;
}

.start{
    position: absolute;
    width: 725px;
    height: 25px;
    left: 44px;
    top: 825px;

    font-family: 'Manrope';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}